In [32]:
import numpy as np
import pandas as pd
import shutil, os

In [33]:
cwd = os.getcwd()
nasa_dir = 'datasets/NASA/'
msl_dir = 'MSL'
smap_dir = 'SMAP'

labeled_anoamlies = pd.read_csv(os.path.join(cwd, nasa_dir, 'source/labeled_anomalies.csv'))

In [34]:
cwd = os.getcwd()

In [50]:
labeled_anoamlies.head()

,chan_id,spacecraft,anomaly_sequences,class,num_values
0,P-1,SMAP,"[[2149, 2349], [4536, 4844], [3539, 3779]]","[contextual, contextual, contextual]",8505
1,S-1,SMAP,"[[5300, 5747]]",[point],7331
2,E-1,SMAP,"[[5000, 5030], [5610, 6086]]","[contextual, contextual]",8516
3,E-2,SMAP,"[[5598, 6995]]",[point],8532
4,E-3,SMAP,"[[5094, 8306]]",[point],8307

In [36]:
for i, row in labeled_anoamlies.iterrows():
    
    for split in ['train', 'test']:
        filename = '{}.npy'.format(row.chan_id)
        source_filepath = os.path.join(cwd, nasa_dir, 'source', split, filename)
        target_filepath = os.path.join(cwd, nasa_dir, row.spacecraft, split, filename)
        if os.path.isfile(source_filepath):
            shutil.copy(source_filepath, target_filepath)