In [1]:
import os, sys
sys.path.append(os.path.dirname(os.path.abspath(os.getcwd())))
from src.models import TadGAN, AttentionTadGAN
from src.processor import AnomalyDataset
from mlprimitives import load_primitive
from src.configuration.constants import REPORTS_DIRECTORY, MODELS_DIRECTORY
from orion.evaluation.contextual import contextual_f1_score, contextual_confusion_matrix
import pickle
import json

import numpy as np
import logging
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm

In [2]:
def get_epoch_loss(source, dataset, signal, model_name):
    with open(os.path.join(MODELS_DIRECTORY, source, dataset, signal, model_name, 'input_parameters.json'), 'rb') as f:
        input_parameters = json.load(f)
    return np.array(input_parameters['epoch_loss'])
    

def plot_losses(tadgan_loss, attention_tadgan_loss, output_directory):
    fig, axs = plt.subplots(3, 4, figsize=(20, 10), sharey=False, sharex=True)

    epoch_loss_names = [
        ['valid_x_wasserstein_loss', 'fake_x_wasserstein_loss', 'partial_gp_loss_x', 'weighted_loss'],
        ['valid_z_wasserstein_loss', 'fake_z_wasserstein_loss', 'partial_gp_loss_z', 'weighted_loss'],
        ['fake_gen_x_wasserstein_loss', 'fake_gen_z_wasserstein_loss', 'mse', 'weighted_loss'],
    ]
    
    num_epoch, num_model, num_loss = tadgan_loss.shape

    index = [epoch for epoch in range(num_epoch)]
    for i in range(num_model):
        for j in range(num_loss):
            axs[i][j].set_title(epoch_loss_names[i][j])
            axs[i][j].plot(index, tadgan_loss[:, i, j], label='tadgan', color='b')
            axs[i][j].plot(index, attention_tadgan_loss[:, i, j], label='attention_tadgan', color='r')

    fig.suptitle(f'[{source}] [{dataset}] [{signal}] Epoch losses', fontsize=16)
    handles, labels = axs[0][0].get_legend_handles_labels()
    fig.legend(handles, labels, loc='upper right')
    fig.savefig(os.path.join(output_directory, 'epoch_losses.png'))

In [3]:
def get_anomalies(y_test, y_hat, critic, index_test):
    params = {"rec_error_type": "dtw", "comb": "mult"}

    primitive = load_primitive("orion.primitives.tadgan.score_anomalies", 
                               arguments=params)
    errors, true_index, true, predictions = primitive.produce(y=y_test, y_hat=y_hat, critic=critic, index=index_test)
    
    params = {
    "window_size_portion": 0.33, 
    "window_step_size_portion": 0.1,
    "fixed_threshold": True
    }

    primitive = load_primitive("orion.primitives.timeseries_anomalies.find_anomalies", 
                               arguments=params)
    predicted_anomalies = primitive.produce(errors=errors, index=true_index)
    predicted_anomalies = [(int(anomaly[0]), int(anomaly[1])) for anomaly in predicted_anomalies]
    return predicted_anomalies

def calculate_confusion_matrix(model_name, anomalies, y_test, index_test):
    output_directory = os.path.join(MODELS_DIRECTORY, source, dataset, signal, model_name)
    with open(os.path.join(output_directory, 'y_hat_test.npy'), 'rb') as f:
        y_hat = np.load(f)
    with open(os.path.join(output_directory, 'critic_test.npy'), 'rb') as f:
        critic = np.load(f)
    
    predicted_anomalies = get_anomalies(y_test, y_hat, critic, index_test)
    
    # true negative, false positive, false negative, true positive
    confusion_matrix = contextual_confusion_matrix(
        anomalies, 
        predicted_anomalies, 
        start=index_test[0], 
        end=index_test[-1], 
        weighted=False
    )
    return [predicted_anomalies, confusion_matrix]

In [ ]:
source = 'NASA'
dataset = 'SMAP'
columns = ['source', 'dataset', 'signal', 'ground_truth', 'tadgan_pp', 'tadgan_cm', 'attention_tadgan_pp', 'attention_tadgan_cm']

signals = AnomalyDataset.get_signals(source, dataset)
signals_summary = []

for signal in tqdm(signals):
    print(signal)
    try:
        model_epoch_loss = []
        model_epoch_loss.append(get_epoch_loss(source, dataset, signal, 'univariate_tadgan'))
        model_epoch_loss.append(get_epoch_loss(source, dataset, signal, 'univariate_attention_tadgan'))

        output_directory = os.path.join(REPORTS_DIRECTORY, source, dataset, signal)
        if not os.path.exists(output_directory):
            os.makedirs(output_directory)
        plot_losses(model_epoch_loss[0], model_epoch_loss[1], output_directory)

        anomaly_dataset = AnomalyDataset.load(source, dataset, signal)
        summary = [source, dataset, signal]
        summary.append(anomaly_dataset.anomalies.values)
        summary.extend(calculate_confusion_matrix(
            'univariate_tadgan', 
            anomaly_dataset.anomalies,
            anomaly_dataset.test.y, 
            list(anomaly_dataset.data['index'])
        ))
        summary.extend(calculate_confusion_matrix(
            'univariate_attention_tadgan', 
            anomaly_dataset.anomalies,
            anomaly_dataset.test.y, 
            list(anomaly_dataset.data['index'])
        ))
        signals_summary.append(summary)
    except Exception as e:
        print('failed', signal, e)

  0%|          | 0/54 [00:00<?, ?it/s]

A-9
failed A-9 'AnomalyDataset' object has no attribute 'data'
A-7
failed A-7 'AnomalyDataset' object has no attribute 'data'
E-8
failed E-8 'AnomalyDataset' object has no attribute 'data'
G-2
failed G-2 'AnomalyDataset' object has no attribute 'data'
E-6
failed E-6 'AnomalyDataset' object has no attribute 'data'
E-1
failed E-1 'AnomalyDataset' object has no attribute 'data'
A-6
failed A-6 'AnomalyDataset' object has no attribute 'data'
A-1
failed A-1 'AnomalyDataset' object has no attribute 'data'
A-8
failed A-8 'AnomalyDataset' object has no attribute 'data'
E-7
failed E-7 'AnomalyDataset' object has no attribute 'data'
G-3
failed G-3 'AnomalyDataset' object has no attribute 'data'
G-4
failed G-4 'AnomalyDataset' object has no attribute 'data'
E-9
failed E-9 'AnomalyDataset' object has no attribute 'data'
S-1
failed S-1 'AnomalyDataset' object has no attribute 'data'
D-5
failed D-5 'AnomalyDataset' object has no attribute 'data'
D-2
failed D-2 'AnomalyDataset' object has no attribute 'data'
F-1

In [ ]:
summary_df = pd.DataFrame(signals_summary, columns=columns)
summary_df.to_csv(os.path.join(REPORTS_DIRECTORY, source, dataset, 'summary.csv'), index=False)

In [6]:
summary_df

,source,dataset,signal,ground_truth,tadgan_pp,tadgan_cm,attention_tadgan_pp,attention_tadgan_cm
0,NASA,SMAP,A-9,"[[4569, 8433]]",[],"(None, 0, 1, 0)","[(4921, 5014)]","(None, 0, 0, 1)"
1,NASA,SMAP,A-7,"[[6200, 8600]]","[(1553, 1712), (2462, 2599), (3217, 3392), (62...","(None, 3, 0, 1)","[(1553, 1688), (2442, 2593), (3135, 3214), (32...","(None, 4, 1, 0)"
2,NASA,SMAP,E-8,"[[5400, 6022]]","[(5575, 5635)]","(None, 0, 0, 1)","[(4952, 5099), (5564, 5635), (5663, 5855)]","(None, 1, 0, 1)"
3,NASA,SMAP,G-2,"[[4030, 4070]]","[(3965, 4126)]","(None, 0, 0, 1)","[(3964, 4127)]","(None, 0, 0, 1)"
4,NASA,SMAP,E-6,"[[5610, 5675]]","[(5540, 5708)]","(None, 0, 0, 1)","[(5542, 5709)]","(None, 0, 0, 1)"
5,NASA,SMAP,E-1,"[[5000, 5030], [5610, 6086]]",[],"(None, 0, 2, 0)",[],"(None, 0, 2, 0)"
6,NASA,SMAP,A-6,"[[1890, 1930]]","[(1844, 1987)]","(None, 0, 0, 1)","[(1843, 1985)]","(None, 0, 0, 1)"
7,NASA,SMAP,A-1,"[[4690, 4774]]","[(4667, 4841)]","(None, 0, 0, 1)","[(4667, 4840)]","(None, 0, 0, 1)"
8,NASA,SMAP,A-8,"[[4569, 8374]]",[],"(None, 0, 1, 0)","[(0, 124), (277, 369), (5178, 5256)]","(None, 2, 0, 1)"
9,NASA,SMAP,E-7,"[[5394, 5674]]","[(5385, 5673)]","(None, 0, 0, 1)","[(5385, 5676)]","(None, 0, 0, 1)"
10,NASA,SMAP,G-3,"[[4200, 4250]]","[(4102, 4296), (7405, 7578)]","(None, 1, 0, 1)","[(4102, 4299), (7403, 7571)]","(None, 1, 0, 1)"
11,NASA,SMAP,G-4,"[[4690, 4720]]","[(4627, 4792)]","(None, 0, 0, 1)","[(4628, 4793)]","(None, 0, 0, 1)"
12,NASA,SMAP,E-9,"[[5550, 5900]]","[(5659, 5753)]","(None, 0, 0, 1)","[(5659, 5753)]","(None, 0, 0, 1)"
13,NASA,SMAP,S-1,"[[5300, 5747]]","[(5259, 5322)]","(None, 0, 0, 1)","[(5261, 5322)]","(None, 0, 0, 1)"
14,NASA,SMAP,D-5,"[[4800, 4850]]","[(4713, 4896)]","(None, 0, 0, 1)","[(4704, 4899)]","(None, 0, 0, 1)"
15,NASA,SMAP,D-2,"[[4319, 8536]]","[(4678, 4824)]","(None, 0, 0, 1)","[(4680, 4824)]","(None, 0, 0, 1)"
16,NASA,SMAP,F-1,"[[5392, 5492]]","[(1124, 1274), (2608, 2729), (5414, 5577)]","(None, 2, 0, 1)","[(1119, 1274), (2616, 2728), (5324, 5534)]","(None, 2, 0, 1)"
17,NASA,SMAP,D-3,"[[5225, 8500]]",[],"(None, 0, 1, 0)",[],"(None, 0, 1, 0)"
18,NASA,SMAP,D-4,"[[5225, 8472]]",[],"(None, 0, 1, 0)",[],"(None, 0, 1, 0)"
19,NASA,SMAP,B-1,"[[5060, 5130]]",[],"(None, 0, 1, 0)",[],"(None, 0, 1, 0)"
20,NASA,SMAP,D-11,"[[4270, 4330]]",[],"(None, 0, 1, 0)","[(4291, 4419)]","(None, 0, 0, 1)"
21,NASA,SMAP,P-7,"[[4950, 6600]]","[(914, 1031), (2357, 2486), (5003, 5183)]","(None, 2, 0, 1)","[(1140, 1242), (2364, 2480), (4990, 5066)]","(None, 2, 0, 1)"
22,NASA,SMAP,E-11,"[[5000, 5050], [5614, 5857]]","[(5544, 5619)]","(None, 0, 1, 1)","[(5545, 5619)]","(None, 0, 1, 1)"
23,NASA,SMAP,T-1,"[[2399, 3898], [6550, 6585]]","[(6531, 6683)]","(None, 0, 1, 1)","[(3716, 3885), (6481, 6656), (8560, 8610)]","(None, 1, 0, 2)"
24,NASA,SMAP,P-1,"[[2149, 2349], [4536, 4844], [3539, 3779]]","[(3372, 3432), (3536, 3644), (6221, 6334)]","(None, 2, 2, 1)","[(434, 554), (3311, 3480), (6223, 6402)]","(None, 3, 3, 0)"
25,NASA,SMAP,E-10,"[[5000, 5050], [5601, 5871]]","[(5541, 5616), (6386, 6502)]","(None, 1, 1, 1)","[(5544, 5616)]","(None, 0, 1, 1)"
26,NASA,SMAP,G-1,"[[4770, 4890]]",[],"(None, 0, 1, 0)",[],"(None, 0, 1, 0)"
27,NASA,SMAP,G-6,"[[5600, 5700]]","[(5617, 5710)]","(None, 0, 0, 1)",[],"(None, 0, 1, 0)"
28,NASA,SMAP,E-2,"[[5598, 6995]]","[(5562, 5635)]","(None, 0, 0, 1)","[(5558, 5635), (5657, 5846), (6691, 6809)]","(None, 0, 0, 1)"
29,NASA,SMAP,E-5,"[[5600, 5920]]","[(414, 525), (8228, 8292)]","(None, 2, 1, 0)","[(5547, 5653)]","(None, 0, 0, 1)"
30,NASA,SMAP,A-4,"[[4550, 4660]]","[(0, 113), (1120, 1285), (2919, 3066), (4396, ...","(None, 6, 0, 1)","[(621, 727), (1166, 1289), (2956, 3070), (3793...","(None, 6, 0, 1)"
31,NASA,SMAP,A-3,"[[4575, 4760]]","[(4586, 4721), (5063, 5181), (8125, 8203)]","(None, 2, 0, 1)","[(1100, 1337), (2070, 2177), (2414, 2562), (46...","(None, 5, 0, 1)"
32,NASA,SMAP,E-4,"[[5450, 8261]]",[],"(None, 0, 1, 0)","[(4984, 5112), (5388, 5557), (7572, 7694), (82...","(None, 1, 0, 1)"
33,NASA,SMAP,E-3,"[[5094, 8306]]","[(0, 69), (5603, 5765)]","(None, 1, 0, 1)","[(5674, 5765)]","(None, 0, 0, 1)"
34,NASA,SMAP,G-7,"[[3650, 3750], [5050, 5100], [7560, 7675]]","[(2668, 2778), (3619, 3791), (4995, 5164), (75...","(None, 1, 0, 3)","[(3621, 3789), (4996, 5166), (7556, 7711)]","(None, 0, 0, 3)"
35,NASA,SMAP,A-2,"[[4450, 4560]]","[(0, 121), (4378, 4559), (7176, 7310), (7770, ...","(None, 3, 0, 1)","[(4844, 4993), (5916, 6033)]","(None, 2, 1, 0)"
36,NASA,SMAP,A-5,"[[2750, 2800]]","[(2716, 2788)]","(None, 0, 0, 1)","[(2715, 2788)]","(None, 0, 0, 1)"
37,NASA,SMAP,D-13,"[[5070, 5230]]","[(5163, 5311)]","(None, 0, 0, 1)","[(5165, 5311)]","(None, 0, 0, 1)"
38,NASA,SMAP,D-1,"[[5250, 8508]]","[(5548, 5617)]","(None, 0, 0, 1)","[(5553, 5617)]","(None, 0, 0, 1)"
39,NASA,SMAP,D-6,"[[4870, 4950]]","[(2314, 2428), (4840, 5030), (7786, 7882)]","(None, 2, 0, 1)","[(4839, 5035)]","(None, 0, 0, 1)"
40,NASA,SMAP,F-2,"[[5669, 8625]]","[(1753, 1882), (4625, 4757), (6727, 6836)]","(None, 2, 0, 1)","[(319, 449), (5580, 5742), (6042, 6178), (6729...","(None, 1, 0, 1)"
41,NASA,SMAP,D-8,"[[4370, 4420]]","[(4307, 4482)]","(None, 0, 0, 1)","[(4306, 4482)]","(None, 0, 0, 1)"
42,NASA,SMAP,D-9,"[[6250, 7405]]","[(6458, 6608)]","(None, 0, 0, 1)","[(6460, 6608)]","(None, 0, 0, 1)"
43,NASA,SMAP,F-3,"[[5600, 5640]]",[],"(None, 0, 1, 0)",[],"(None, 0, 1, 0)"
44,NASA,SMAP,D-7,"[[4940, 7641]]","[(5427, 5557), (5697, 5810)]","(None, 0, 0, 1)","[(5700, 5810)]","(None, 0, 0, 1)"
45,NASA,SMAP,E-12,"[[5610, 6141], [5000, 5050]]","[(6398, 6500)]","(None, 1, 2, 0)",[],"(None, 0, 2, 0)"
46,NASA,SMAP,T-2,"[[6840, 8624]]","[(0, 78), (6772, 6914), (8551, 8623)]","(None, 1, 0, 1)","[(0, 78), (5475, 5583), (6761, 6835)]","(None, 3, 1, 0)"
47,NASA,SMAP,P-4,"[[950, 1080], [2150, 2350], [4770, 4880]]","[(956, 1110), (2198, 2403), (4735, 4902)]","(None, 0, 0, 3)","[(954, 1119), (2209, 2394), (4735, 4946)]","(None, 0, 0, 3)"
48,NASA,SMAP,P-3,"[[5401, 6736]]","[(5392, 5575), (5763, 5893)]","(None, 0, 0, 1)","[(5394, 5574), (5762, 5893)]","(None, 0, 0, 1)"
49,NASA,SMAP,T-3,"[[2098, 2180], [5200, 5300]]","[(2076, 2250), (5170, 5345)]","(None, 0, 0, 2)","[(2075, 2249), (5170, 5344), (8442, 8577)]","(None, 1, 0, 2)"
50,NASA,SMAP,E-13,"[[5309, 5410], [5600, 5640], [6449, 6569]]","[(791, 904), (5027, 5139), (6414, 6557)]","(None, 2, 2, 1)","[(5022, 5129), (5358, 5498), (8179, 8351)]","(None, 2, 2, 1)"
51,NASA,SMAP,P-2,"[[5300, 6420]]","[(5309, 5418)]","(None, 0, 0, 1)","[(5307, 5418)]","(None, 0, 0, 1)"
52,NASA,SMAP,R-1,"[[4510, 4590]]","[(4478, 4645)]","(None, 0, 0, 1)","[(4478, 4647)]","(None, 0, 0, 1)"

In [7]:
values = []
for i in summary_df.tadgan_cm:
    v = []
    for j in i:
        if j is None:
            v.append(0)
        else:
            v.append(j)
    values.append(v)
tadgan_cm = np.array(values).sum(axis=0)
print(tadgan_cm)

tn, fp, fn, tp = tadgan_cm

f1 = tp / (tp + .5 * (fp + fn))
f1

[ 0 34 21 46]

0.6258503401360545

In [8]:
values = []
for i in summary_df.attention_tadgan_cm:
    v = []
    for j in i:
        if j is None:
            v.append(0)
        else:
            v.append(j)
    values.append(v)
attnetion_tadgan_cm = np.array(values).sum(axis=0)
print(attnetion_tadgan_cm)

tn, fp, fn, tp = attnetion_tadgan_cm

f1 = tp / (tp + .5 * (fp + fn))
f1

[ 0 37 20 47]

0.6225165562913907